#landing-page-div {
    margin-top: 50px;

    .landing-fluffer {
        font-size: 3rem;
        text-decoration: underline;
        font-weight: 600;
        color: #f5f5f5;
        margin-top: 7rem;
        margin-bottom: 20rem;
        text-align: center;
    }
}