
.ui {
    .modal {
        .content {
            padding-bottom: 1.5rem;
        }
    }
}

#portfolio-div {
    background:  #e7e6e6;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: calc(160vh - 50px);

    .mashly-project-wrapper {
        .subsection-header {
            text-align: center;
        }

        .mashly-button-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: .5rem;

            button {
                margin: 0 1rem;
            }
        }
    }

    .section-header {
        text-align: center;
    }
    .subsection-header {
        text-align: center;
    }
}

.video-container {
    width: 50%;
    margin: auto;  
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.thumbs-wrapper {
    visibility: hidden;
}

.project-section {
    margin-top: 5px;
}

#mashly-project {
    width: 100%;
    padding:15px
}
#Mtglockbox-project {
    width: 75%;
    padding: 15px;
    margin: auto;
}

#star-love-project {
    width: 75%;
    padding: 15px;
    margin: auto;
}

#mashly-section {
    margin: auto;
    width: 70%;
}


.project-modal {
    text-align: center;
}

.ongoing-section {
    padding-top: 200px;
    padding-bottom: 300px;
}

#mtg-lockbox-btn {
    
    font-family: Ubu;
    font-size: x-large;
    padding-right: 25px;
    text-decoration: underline;
    transition: font-size 1s;
    padding-bottom: .5rem;
    color: #444649;
}

#star-love-btn {
    
    font-family: Ubu;
    font-size: x-large;
    padding-right: 25px;
    text-decoration: underline;
    transition: font-size 1s;
    padding-bottom: .5rem;
    color: #444649;
}

#coming-soon-btn {

    font-family: Ubu;
    font-size: x-large;
    padding-right: 25px;
    text-decoration: underline;
    transition: font-size 1s;
    padding-bottom: .5rem;
    color: #444649;
}

#mtg-lockbox-btn:hover {
    font-size: xx-large;
    color: black;
}

#star-love-btn:hover {
    font-size: xx-large;
    color: black;
}

#coming-soon-btn:hover {
    font-size: xx-large;
    color: black;
}