#contact-me-div {

    .contact-details {
        width: 50%;
        padding: 15px;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin: auto;
        border-style: solid;
        margin-top: 15rem;

        .icon {
            float: left;
            font-size: xx-large;
            padding-left: 100px;
            padding-top: 10px;
        }

        .email-content {
            padding-bottom: 5rem;
            padding-left: 7rem;
            transition: font-size 1s;
            font-size: x-large;
        }
        
        .linkin-content {
            padding-bottom: 5rem;
            transition: font-size 1s;
            font-size: x-large;
            text-decoration: underline;
        }

        .github-content {
            padding-bottom: 5rem;
            transition: font-size 1s;
            font-size: x-large;
            text-decoration: underline;
        }

        .email-content:hover {
            font-size: xx-large;
            color: black;
        }
        .linkin-content:hover {
            font-size: xx-large;
            color: black;
        }
        .github-content:hover {
            font-size: xx-large;
            color: black;
        }


    }
}
