#blog-div {
    width: 80%;
    padding: 15px;
    padding-bottom: 20rem;
    margin: auto;
    
    .blog-collec-div {
        border-style: solid;
        padding: 15px;

        .blog-post-item {
            padding-bottom: 20px;
        }
    }
}

.link-to-article-btn {
    padding: 30px;
    font-size: large;
    transition: font-size 1s;
    text-decoration: underline;
    
}

.link-to-article-btn:hover {
    font-size: x-large;
    font-weight: bold;
}