#blog-section {
    background: linear-gradient(#e7e6e6, lightblue);
    padding-bottom: 20rem;
}


#blog-div {
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: linear-gradient();
    border-radius: 25px;
    align-items: center;
   
    
    .blog-collec-div {
        border-style: solid;
        padding: 15px;

        .blog-post-item {
            padding-bottom: 20px;
        }
    }
}

.link-to-article-btn {
    padding: 30px;
    font-size: x-large;
    transition: font-size 1s;
    text-decoration: underline;
    text-align: center;
    
}

.link-to-article-btn:hover {
    font-size: x-large;
    font-weight: bold;
}

.linktomediumdiv {
    justify-content: center;
    text-align: center;
}