.App {
  text-align: center;
  background-color: #e7e6e6;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #616161;
}


#landing-page-div {
  background-color: #616161;
}

#bio-div {
  width: 100%;
  background-color: lightblue;
  padding-bottom: 50px;
}

.navbar-spacing {
  margin-top: 42px;
}

.full-height {
  height: calc(100vh - 42px);
}

#connerpic {
  
}

#conner-bio-card {
  margin: auto;
  width: 75%;
}

#conner-interests-card {
  margin: auto;
  width: 75%;
}

#conner-my-skills-card {
  margin: auto;
  width: 75%;
}

.animated-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  font-style: normal;
  font-weight: 700;
  /* or 126% */
  text-align: center;
  margin: auto;
  color: #FFFFFF;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}