.App {
  text-align: center;
  background-color: #e7e6e6;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.control-dots {
  visibility: hidden;
}


#landing-page-div {
  background: linear-gradient(#616161, lightblue);
}

#bio-div {
  width: 100%;
  background: linear-gradient(lightblue, #e7e6e6);
  padding-bottom: 50px;
}

.landing-header {
  padding: auto;
  font-family: Ububold;
  font-size: 64px;
}

.landing-secondary {
  font-family: Ubu;
  font-size: medium;
}

.section-header {
  font-family: Ububold;
  color: #444649;
  
}
.subsection-header {
  font-family: Ubulight;
  color: #444649
}

.navbar-spacing {
  margin-top: 42px;
}

.full-height {
  height: calc(100vh - 42px);
}

#connerpic {
  padding-top: 50px;
  padding-bottom: 50px;
}

#conner-bio-card {
  margin: auto;
  width: 75%;
  border-color: #282c34;
}

#conner-interests-card {
  margin: auto;
  width: 75%;
}

#conner-my-skills-card {
  margin: auto;
  width: 75%;
}

.animated-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  padding-top: 10rem;
  /* or 126% */
  text-align: center;
  margin: auto;
  color: #FFFFFF;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}