@font-face {
  src: url(./components/assets/Ubuntu-Regular.ttf);
  font-family: Ubu;
}
@font-face {
  font-family: Ububold;
  src: url(./components/assets/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Ubulight;
  src: url(./components/assets/Ubuntu-Light.ttf);
}
@font-face {
  font-family: Ubulightitalic;
  src: url(./components/assets/Ubuntu-LightItalic.ttf);
}


body {
  position: absolute;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
